:host {
  width: 50%;
  display: flex;
  justify-content: center;
}


.content {
  display: flex;
  flex-direction: column;
}

.player-wrap {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.controls-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.time-slider-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.time-slider {
  width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 300px;
}