<div class="player-wrap">
    <div class="content">
        {{state?.songName}}
    </div>
    <div class="controls">
        <mat-toolbar-row class="time-slider-wrap">
            {{ state?.readableCurrentTime || '00:00:00' }}
            <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1"
                [disabled]="state?.error || !state?.canPlay">
                <input matSliderThumb #slider [value]="state?.currentTime"
                    (dragEnd)="onSliderChangeEnd($event)"></mat-slider>
            {{ state?.readableDuration || '00:00:00' }}
        </mat-toolbar-row>

        <div class="controls-buttons">
            <div class="controls-button-container">
                <button mat-button [disabled]="state?.error || !state?.canPlay"
                    [matMenuTriggerFor]="menu">{{'x'+this.state?.playbackRate || 'x1'}}</button>
                <mat-menu #menu="matMenu">
                    <mat-slider class="rate-slider" min="0.5" max="2" step="0.1"
                        [disabled]="state?.error || !state?.canPlay">
                        <input matSliderThumb #rateslider [value]="state?.playbackRate"
                            (dragEnd)="changeRate($event)"></mat-slider>
                </mat-menu>
            </div>
            <div class="controls-button-container">
                <button (click)="rewind()" [disabled]="state?.error || !state?.canPlay" mat-mini-fab color="warn"
                    aria-label="rewind">
                    <mat-icon>fast_rewind</mat-icon>
                </button>
            </div>
            <div class="controls-button-container">
                <button (click)="previousTrack()" [disabled]="state?.error || !state?.canPlay || !( 
                    state && state.trackNumber !== null && state.trackNumber > 0)" mat-mini-fab color="warn"
                    aria-label="left">
                    <mat-icon>skip_previous</mat-icon>
                </button>
            </div>
            <div class="controls-button-container">
                @if (state?.isPlaying) {
                <button (click)="pause()" [disabled]="state?.error || !state?.canPlay" mat-fab color="warn"
                    aria-label="pause">
                    <mat-icon>pause_circle</mat-icon>
                </button>
                } @else {
                <button (click)="play()" [disabled]="state?.error || !state?.canPlay" mat-fab color="warn"
                    aria-label="play">
                    <mat-icon>play_circle</mat-icon>
                </button>
                }

            </div>
            <div class="controls-button-container">
                <button (click)="nextTrack()" [disabled]="state?.error || !state?.canPlay || !(
                    state && state.trackNumber !== null && 
                    playlist && playlist.tracks.length > 0 && playlist.tracks.length >= state.trackNumber + 2)"
                    mat-mini-fab color="warn" aria-label="right">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
            <div class="controls-button-container">
                <button (click)="loop()" [disabled]="state?.error || !state?.canPlay" mat-mini-fab
                    [color]="this.state?.isLooping ? 'accent' : 'warn'" aria-label="repeat">
                    <mat-icon>repeat</mat-icon>
                </button>
            </div>
            <div class="controls-button-container">
                <button mat-button [disabled]="state?.error || !state?.canPlay"
                    [matMenuTriggerFor]="menuVolume">{{this.state
                    && this.state.volume ? this.state.volume*100 + '%' : '100%'}}</button>
                <mat-menu #menuVolume="matMenu">
                    <mat-slider class="volume-slider" min="0" max="1" step="0.1"
                        [disabled]="state?.error || !state?.canPlay">
                        <input matSliderThumb #volumeslider [value]="state?.volume"
                            (dragEnd)="changeVolume($event)"></mat-slider>
                </mat-menu>
            </div>
        </div>
    </div>
</div>