.editor-wrapper {
  margin-top: 24px;
  .track-wrap {
    .track {
      height: 50px;
      background-color: var(--mdc-fab-small-container-color);
      margin-left: 76px;
      margin-right: 76px;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    .track-item-wrap {
      display: flex;
      align-items: center;
      margin-top: 5px;
      .track-item {
        height: 40px;
        width: 100%;
        margin-right: 4px;
        background-color: var(--mat-fab-small-foreground-color);
      }
    }
    .duration-slider {
      width: calc(100% - 148px);
    }
  }
}

::ng-deep {
  .mdc-slider__value-indicator {
    background-color: transparent !important;
  }
  .mdc-slider .mdc-slider__value-indicator-container {
    bottom: -30px !important;
    left: 25% !important;
    bottom: -30% !important;
  }
  .mat-mdc-slider .mdc-slider__value-indicator-text {
    color: var(--mat-app-text-color);
  }
  .mat-mdc-slider .mdc-slider__thumb-knob {
    width: 3px !important;
    height: 76px !important;
    border-style: hidden !important;
    top: -26% !important;
  }
  .mat-mdc-slider-visual-thumb .mat-ripple {
    height: 0 !important;
    width: 0 !important;
  }
}
