nav {
  background: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  display: flex;
  gap: 8px;
  padding: 24px 24px 0 24px;
  a {
    text-decoration: none;
    color: var(--mat-app-text-color);
    cursor: pointer;
    padding: 6px;
    border: 1px solid var(--mat-app-text-color);
    border-radius: 8px;
    &.active {
      background-color: var(--mdc-fab-small-container-color);
      color: var(--mat-fab-small-foreground-color);
      border-color: var(--mdc-fab-small-container-color);
    }
  }
  max-width: 100vw;
}
